# InfoCar Practical Exam Bot Environment Variables
INFOCAR_TOKEN="Bearer eyJhbGciOi..."
INFOCAR_PKK="MY_PROFILE_NUMBER"
TELEGRAM_BOT_TOKEN="123456789:ABCdefGhIJKlmNoPQRsTUVwxyZ"
TELEGRAM_CHAT_ID="987654321"
